/* Base styles and root sizing */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* Optional: smooth fonts */
body {
  background-color: #0b0d12;
  color: #eaeaea;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


