@import "tailwindcss";

@theme {
  --color-background: #f5f6fa;
  --shadow-soft: 0 10px 30px rgba(0,0,0,0.08);
}

html, body, #root { 
  height: 100%;
  background: var(--color-background);
  color: #111827; /* gray-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.soft-card {
  background: #ffffff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12), 0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;
}
